In [7]:
import sys
sys.path.append('../..')
import os
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import math
from config import ATLAS_CONNECTION_STRING
from pymongo import MongoClient
import pandas as pd

In [8]:
client = MongoClient(ATLAS_CONNECTION_STRING)
osu_db = client['osu_random_db']

In [9]:
#list of sample users' ids
cursor = osu_db["week_9_sample_users"].find({},{"users":1})
l = []
for el in cursor:
    l.append(el)
Ids = list(map(lambda x: x["users"], l))[0]
print(len(Ids))

3116

In [ ]:
# work on this
collection = osu_db["osu_scores_high"]
osu_db.userIdsCollection.insert_many(
    collection.aggregate([
        {"$match" : {"user_id" : {"$in" : Ids}}},
    ])
)
# df1 = pd.DataFrame(list(cursor))
# df1
#select the collection within the database
ids = osu_db.userIdsCollection
#convert entire collection to Pandas dataframe
test = pd.DataFrame(list(ids.find()))

In [5]:
collection = osu_db["osu_user_stats"]
cursor = collection.find(
    {"_id" : {"$in" : Ids}}
)
df2 = pd.DataFrame(list(cursor))
df2.describe()

,_id,count300,count100,count50,countMiss,accuracy_total,accuracy_count,accuracy,playcount,ranked_score,...,rank,level,replay_popularity,fail_count,exit_count,max_combo,rank_score,rank_score_index,accuracy_new,total_seconds_played
count,3.116000e+03,3116.000000,3116.000000,3116.000000,3.116000e+03,3.116000e+03,3116.000000,3116.000000,3116.000000,3.116000e+03,...,3.116000e+03,3116.000000,3116.000000,3116.000000,3116.000000,3116.000000,3116.000000,3.116000e+03,3116.000000,3116.000000
mean,1.302182e+07,41738.123877,9727.325417,1968.309371,4.024612e+03,2.960762e+06,11748.465340,0.850585,492.657574,2.794297e+07,...,2.208563e+04,22.144107,0.013158,232.076059,119.544929,472.895700,130.621767,1.762531e+06,88.886199,31633.143453
std,4.190239e+06,39831.394799,12368.887447,2757.846080,2.526034e+04,2.224321e+06,9205.988953,0.076712,526.141499,2.616892e+07,...,1.495393e+05,7.058379,0.154609,407.763202,159.333990,184.610239,56.941314,5.332047e+05,5.580033,25563.666431
min,5.331300e+04,46.000000,7.000000,0.000000,1.000000e+00,1.465000e+04,57.000000,0.231643,1.000000,4.459200e+04,...,0.000000e+00,2.145920,0.000000,0.000000,0.000000,24.000000,1.130060,1.228671e+06,46.378900,83.000000
25%,1.064489e+07,16682.250000,3077.750000,593.000000,8.607500e+02,1.411838e+06,5500.750000,0.821434,180.000000,1.181557e+07,...,0.000000e+00,17.656975,0.000000,39.000000,20.000000,339.000000,84.892200,1.426417e+06,85.963125,13988.000000
50%,1.378962e+07,34003.500000,6247.000000,1228.500000,1.899500e+03,2.613100e+06,10110.000000,0.863599,367.000000,2.501098e+07,...,0.000000e+00,22.855900,0.000000,109.000000,65.000000,467.500000,149.003500,1.566880e+06,89.676800,26652.000000
75%,1.628657e+07,55038.750000,12068.000000,2412.250000,4.109750e+03,4.046688e+06,15855.000000,0.900334,645.000000,3.939449e+07,...,0.000000e+00,26.867675,0.000000,261.000000,152.000000,598.000000,179.584000,1.912426e+06,92.981200,42590.500000
max,2.010573e+07,953701.000000,168142.000000,56997.000000,1.371334e+06,5.474350e+07,199489.000000,1.000000,8041.000000,1.007172e+09,...,1.824328e+06,81.195300,5.000000,7722.000000,1679.000000,1863.000000,199.991000,4.911123e+06,100.000000,354000.000000